*.pyc
.vs/HolidayCountdown/v17/.suo
.vs/HolidayCountdown/FileContentIndex/dcc4582b-fb51-4387-9fd4-1f987d566cf3.vsidx
.vs/HolidayCountdown/FileContentIndex/651e55b1-b517-49bf-b53e-aafe5fe369cc.vsidx
.vs/HolidayCountdown/CopilotIndices/17.14.1368.60722/CodeChunks.db
.vs/HolidayCountdown/v17/DocumentLayout.backup.json
config.json
config.json
config.json
config.json
/build
/dist
/resources
installer.idproj
main.spec
/Android/app/build
/Android/.idea
/Android/.gradle
Android/local.properties
/Android/build
